body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  /* Background color goes to page edge. */
  margin: 0;
}

header {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);

  min-height: 50vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

/* Prevent content from going to the page edge - especially on mobile. */
header,
#app {
  padding: 10px;
}

p a {
  color: #41b7d8;
}
