body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  /* Background color goes to page edge. */
  margin: 0;
}

body>* {
  /* Prevent content from going to the page edge - especially on mobile.
    Note this should not be on body itself otherwise it gets white edges. */
  padding-left: 15px;
  padding-right: 15px;
}

header {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding-top: 30px;
  padding-bottom: 30px;
}

#app {
  padding-bottom: 20px;
}

p a {
  color: #41b7d8;
}

button {
  cursor: pointer;
  padding: 5px;
}

button:active {
  background-color: #41b7d8;
  transform: translateY(2px);
}

.button-pressed {
  background: green;
  color: white;
}
